:root {
  --c-brand: #fd9222;
  --c-primary: #111;
  --c-primary-tr: #1111111a;
  --c-primary-light: #fff;
  --c-primary-light-tr: #ffffffb2;
  --c-background: #1e1823;
  --c-background-light: #fafafa;
}
 
html {
  scroll-behavior: smooth;
}

body {
  color: var(--c-primary);
  font-family: 'Montserrat', sans-serif;
  background-color: var(--c-background-light);
}

 h1, h2, h3, h4, h5, h6, p {
   margin-top: 0;
   margin-bottom: 0;
 }
 img {
   display: block;
   max-width: 100%;
 }
 ul {
   margin-top: 0%;
   margin-bottom: 0%;
   padding-left: 0;
   list-style-type: none;
 }
 a {
  text-decoration: none;
 }
 .container {
  min-width: 1200px;
  width: 1200px;
  padding: 20px 20px 32px 20px;
  margin: 0 auto;
}
    /* header*/
    .header {
      width: 1200px;
      background-color: #FAFAFA;
    }
.header-inner {
  display: flex; 
  padding: 64px 0;
}

.header-nav {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}

.logo-nav {
color: #111;
font-family: Montserrat;
font-size: 18px;
font-style: italic;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.03em;
}

.logo-icon {
  gap: 4px;
}

.menu-list-link {
  
}
    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }