:root {
  --color-brand: #2E2F42;
  --color-primary: #FFFFFF;
  --color-primaty-light: #F4F4FD;
 }
 
 body {
  background-color: #ffffff;
  color:#434455;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
 }
 h1, h2, h3, h4, h5, h6, p {
   margin-top: 0;
   margin-bottom: 0;
 }
 img {
   display: block;
   max-width: 100%;
 }
 ul {
   margin-top: 0%;
   margin-bottom: 0%;
   padding-left: 0;
   list-style-type: none;
 }
 .container {
  min-width: 320px;
  width: 375px;
  padding: 20px 20px 32px 20px;
  margin: 0 auto;
}
    /* header*/
